MYSQL_DB_HOST=       #si es local, localhost o
MYSQL_DB_NAME=
MYSQL_DB_USERNAME=      #si es local, root o el nombre de usuario que hayas creado
MYSQL_DB_PASSWORD=      #si es local, la contraseña que hayas creado para el usuario
MYSQL_DB_PORT=

#buenas practicas y consideraciones:
#1. No subir el archivo .env a repositorios públicos, ya que contiene información sensible.
#2. Utilizar variables de entorno para configurar la conexión a la base de datos, lo que permite cambiar fácilmente la configuración sin modificar el código fuente.
#3. Asegurarse de que el archivo .env esté incluido en el archivo .gitignore para evitar que se suba al repositorio.
#4. Utilizar un formato claro y consistente para las variables de entorno, como se muestra en el ejemplo, para facilitar su comprensión y mantenimiento.
#5 . Considerar el uso de herramientas como dotenv para cargar las variables de entorno desde el archivo .env en la aplicación Node.js.